---
const currentYear = new Date().getFullYear();
import { t } from "i18next";
---

<footer class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
    <span class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90">© {currentYear}
      <a href="https://github.com/himelmaj" class="hover:underline">himelmaj</a>. {t("footer.copyright.message")}
    </span>
</footer>
