---
import { LanguageSelector } from "astro-i18next/components";
import GitHub from "./icons/Github.astro";
---

<header class="rounded-lg w-full max-w-screen-xl mx-auto flex items-center justify-end py-4 px-2 gap-2">
    <a href="https://github.com/himelmaj/himelmaj-bio">
        <GitHub />
    </a>
    <LanguageSelector showFlag={true} class="bg-zinc-800 p-2 rounded-md px-3 appearance-none cursor-pointer" />
</header>
