---
import { t } from "i18next";

import { Image } from "astro:assets";

import Banner from "../assets/test.png";
---

<section class="flex flex-col gap-4 justify-center items-center px-5 sm:px-0">
  <!-- <img
    class="rounded-full shadow-lg size-28 sm:size-40 pointer-events-none"
    src="/test.jpg"
  /> -->
  <Image
    src={Banner}
    alt="Himel Majumder"
    class="rounded-full shadow-lg size-28 sm:size-40 pointer-events-none"
    loading="eager"
  />

  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Himel Majumder
  </h1>
  <p class="text-lg text-gray-600 dark:text-gray-400">
    {t("hero.description1")}<br />{t("hero.description2")}
  </p>
</section>
