---
import Link from "./Link.astro";

import Github from "./icons/Github.astro";
import Twitter from "./icons/Twitter.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Email from "./icons/Email.astro";

const LINKS = [
    {
        url: "https://github.com/himelmaj",
        title: "Github",
        icon: Github,
    },
    {
        url: "https://twitter.com/himelmaj",
        title: "Twitter",
        icon: Twitter,
    },
    {
        url: "https://www.linkedin.com/in/himelmaj/",
        title: "LinkedIn",
        icon: LinkedIn,
    },
    {
        url: "mailto:himelmajumder1@gmail.com",
        title: "Email",
        icon: Email,
    }
];

---

<section class="flex flex-col gap-4 justify-center my-8 px-2">
    {LINKS.map(({ url, title, icon: Icon }) => (
        <Link aria-label={title} url={url} title={title}>
            {Icon && <Icon />}
        </Link>
    ))}
</section>
