---
import Link from "./Link.astro";
import Github from "./icons/Github.astro";
import Twitter from "./icons/Twitter.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Email from "./icons/Email.astro";
import Person from "./icons/Person.astro";
import Call from "./icons/Call.astro";

import { t } from "i18next";

const LINKS = [
    {
        url: "https://himelmaj.vercel.app/",
        title: t("buttons.portfolio"),
        icon: Person,
    },
    {
        url: "https://github.com/himelmaj",
        title: "Github",
        icon: Github,
    },
    {
        url: "https://www.linkedin.com/in/himelmaj/",
        title: "LinkedIn",
        icon: LinkedIn,
    },
    {
        url: "mailto:himelmajumder1@gmail.com",
        title: "Email",
        icon: Email,
    },
    {
        url: "https://cal.com/himel",
        title: t("buttons.cal"),
        icon: Call,
    }
];

---

<section class="flex flex-col gap-4 justify-center my-8 px-2">
    {LINKS.map(({ url, title, icon: Icon }) => (
        <Link aria-label={title} url={url} title={title}>
            {Icon && <Icon />}
        </Link>
    ))}
</section>
